{{ partial "head.html" . }}
<div class="section text-center">
    {{ partial "logo.html" . }}
</div>

<div class="content">
    <div class="content-container">
        {{ $paginator := .Paginate ( where .Site.RegularPages.ByWeight.Reverse "Section" "released" ) }}

        {{ if eq $paginator.PageNumber 1 }}
            {{ $deprecatedFeatures := where .Site.RegularPages "Section" "deprecated" }}
            {{ if $deprecatedFeatures }}
                <details class="deprecated">
                    <summary>
                        <span class="arrow"></span>
                        <span class="badge-warning">{{ len ($deprecatedFeatures) }}</span> deprecated features
                    </summary>
                    <div class="accordion-body">
                        {{ range ($deprecatedFeatures.ByParam "removal_date").Reverse }}
                        <div class="release-entry">
                            <div class="release-meta">
                                <h6>{{ .Params.removal_date }}</h6>
                            </div>
                            <div class="release-changes">
                                {{ .Content }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </details>
            {{ end }}

            {{ $experimentalPages := where .Site.RegularPages "Section" "experimental" }}
            {{ if $experimentalPages }}
                <div class="release-entry experimental">
                    <div class="release-meta">
                        <span class="version">Upcoming</span>
                    </div>
                    <div class="release-changes">
                        {{ range $experimentalPages }}
                            {{ .Content }}
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ end }}

        {{ range $paginator.Pages }}
            <div class="release-entry">
                <div class="release-meta">
                    {{ with .Params.Version }}<span class="version">{{ . }}</span>{{ end }}
                    <span class="date">{{ .Title }}</span>
                </div>
                <div class="release-changes">
                    {{ .Content }}
                </div>
            </div>
        {{ end }}

        <div class="section centered">
            {{ partial "pagination.html" . }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
